* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

body {
    height: 100%;
    background-color: antiquewhite;
}

.e-font-icon-svg {
    height: 70px;
}

.fundo {
    width: 100%;
    height: 300px;
}

.painel {
    background-color: white;
    width: 90%;
    height: 100%;
    margin: auto;
    display: block;
    box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.158);
}

.central {
    display: inline-flex;
    text-align: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.block {   
    width: 30%;
    height: 80%;
    display: inline-block;
}

.conteudo {
    display: inline-flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#conteudo {
    border: 1px dotted black;
    border-width:0 1px 0 1px;
}

.icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    background-color: #030F27;
    width: 30%;
    height: 60%;
    border-radius: 100%;
    fill: white;
}

.texto2 {
    display: inline-block;
    text-align: left;
    width: 45%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
}

.texto2 span {
    display: block;
    font-size: xx-large;
    line-height: 1;
}

.texto2 p {
    display: block;
    font-weight: 100;
    font-size: larger;
}

@media (max-width: 750px){

    .fundo {
        width: 100%;
        height: 500px;
    }

    .central {
        display: block;
        text-align: center;
        height: 40%;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: center;
    }

    .block {
        width: 100%;
        height: 80%;
        display: block;
    }

    .conteudo {
        display: inline-flex;
        width: 90%;
        height: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
    }

    #conteudo {
        border: 1px dotted black;
        border-width: 1px 0px 1px 0px;
    }
        
    .icon {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: center;
        background-color: #030F27;
        width: 15%;
        height: 30%;
        border-radius: 100%;
        fill: white;
    }

    .e-font-icon-svg {
        height: 20px;
    }

    .texto2 {
        display: inline-block;
        text-align: left;
        width: 60%;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
    }
    
    .texto2 span {
        display: block;
        font-size: larger;
        line-height: 1;
    }
    
    .texto2 p {
        display: block;
        font-weight: 100;
        font-size: smaller;
    }



}

